@font-face {
    font-family: raleway;
    src: url(../fonts/raleway-regular.ttf);
    font-weight: 400;
    font-style: normal;
}



*,
::before,
::after,
:active{
    transition: .2s;
}

.container {
    width: 1600px;
    margin: 0 auto;
}

.header {
    background-image: url(../img/bg_359.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 8px 215px 142px 179px;
}

.header_top {
    display: flex;
    justify-content: center;  
}


.header_logo {
    width: 128px;
    margin: 0 239px 0 0;
}


.header-logo_img {
    fill: #fff;
}

.header-logo_img:hover {
    fill: #fbf7c0;
}

.header_menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}


.header-menu_list {
    font-family: gentiumbasic-bold;
    font-size: 21px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    margin: 0 40px 0 0;

}

.header-menu_list:last-child {
    margin: 0 20px 0 0;
}

.header-menu_list:hover {
    color: #fbf7c0;
}

.header-menu_list:active {
    color: #cc9900;
    opacity: 0.8;
}

.header_soc {
    display: flex;
    align-items: center;

}

.header-soc_link {

}

.header-soc_svg {
    fill: #dab33e;
    width: 30px;
    margin: 0 5px 0 0;
}

.header-soc_svg:last-child{
}

.header-soc_svg:hover {
    fill: #fff;
}

.header-soc_svg:active{
    fill: #cc9900;
}

.header_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.header_head {
    opacity: 0.92;
    font-family: yesevaone-regular;
    font-size: 90px;
    line-height: 1.2;
    font-weight: 400;
    text-shadow: 0px 1px 2px rgba(1,1,1,0.63);
    color: #ffffff;
    text-align: center;
    margin: 139px 0 34px 0;
    width: 950px;
}



/* .header_head::after {
    content: "";
    background-image: url('../img/decoration.png');
    background-repeat: no-repeat;
    display: block;
    width: 232px;
    height: 43px;
    position: relative;
    left: 500px;
    top: 32px;
} */

.header-content_button {
    margin: 35px 0 0 0;

}

.header-content_button::before {
    content: "";
    background-image: url('../img/decoration.png');
    background-repeat: no-repeat;
    display: block;
    width: 232px;
    height: 43px;
    left: 26%;
    top: -51px;
    position: relative;
}
 

.header_btn, .header_btn_1 {
    padding: 23px 52px 21px 52px;
    font-family: lato-regular;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    
}

.header_btn {
    margin: 0 30px 0 0;
    border: 1px solid #000000;
    background: rgb(0 0 0 / 58%);
}

.header_btn:hover{
    background: rgb(255 255 255 / 20%);
    border: solid 1px #ffffff;
}

.header_btn:active{
    border: 1px solid #000000;
    background: rgb(0 0 0 / 20%);
}

.header_btn_1 {
    background: rgb(255 255 255 / 20%);
    border: solid 1px #ffffff;
}

.header_btn_1:hover {
    border: 1px solid #000000;
    background: rgb(0 0 0 / 58%);
}

.header_btn_1:active {
    background: rgb(255 255 255 / 20%);
    border: solid 1px #ffffff;
}

.right_menu {
    padding: 55px 240px 30px 294px;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    background: rgb(255 255 255 / 99%) url(../img/bg-right_menu.png);
    background-blend-mode: soft-light;
}

.right-menu_desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 36px 0 0;
    align-self: center;

}

.right-menu_head {
    font-family: yesevaone-regular;
    font-size: 36px;
    line-height: 24px;
    font-weight: 400;
    color: #cc9900;
    margin: 0 0 15px 0;
}

.right-menu_txt {
    font-family: lato-regular;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #4c4c4c;
    text-align: center;
    margin: 32px 0 52px 0;
}

.right-menu_txt::before {
    content: "";
    background-image: url('../img/divider.png');
    background-repeat: no-repeat;
    display: block;
    width: 247px;
    height: 43px;
    left: 21%;
    top: -10px;
    position: relative;
}

.right-menu_img {
    margin: 0px 0 0 55px;

}

.right-menu_food {

}

.ingrid {
    background-image: url(../img/bg_ingrid.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 215px 101px 815px;
}

.ingrid-desc {
    padding: 83px 81px 78px 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-size: cover;
    background-repeat: no-repeat;
    background: rgb(0 0 0 / 44%);
}

.ihgrid-head {
    font-family: yesevaone-regular;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    margin: 0 0 50px 0;
}

.ihgrid-head::after {
    content: "";
    background-image: url('../img/divider_ingr.png');
    background-repeat: no-repeat;
    width: 247px;
    height: 24px;
    top: 21px;
    display: block;
    position: relative;
}


.ingrid_txt {
    font-family: lato-regular;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    margin: 0 0 71px 0;
    text-align: center;
}

.ingrid-img {
    margin: 0 30px 0 0;

}

.ingrid-img:last-child{
    margin: 0;
}


.menu {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 107px 274px 98px 283px;
    background: rgb(255 255 255 / 99%) url(../img/pattern_menu.png);
    background-blend-mode: soft-light;
}

.menu_wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

}

.menu-apps {
    margin: 0 169px 0 0;

}

.menu-apps:nth-child(2) {
    margin: 0;
}

.menu-apps:nth-child(4) {
    margin: 0;
}

.menu-head {
    font-family: yesevaone-regular;
    font-size: 36px;
    line-height: 24px;
    font-weight: 400;
    color: #cc9900;
}

.menu_table {
    border-collapse: collapse;

}

.menu_border {
    box-sizing: border-box;
    border-bottom: solid 0.1px #fbf7c0;
}

td {
    padding: 8px 0 10px 0;
}

.menu_name {
    font-family: yesevaone-regular;
    font-size: 21px;
    line-height: 24px;
    font-weight: 400;
    color: #c89f2d;
    padding: 20px 0 8px 0;
}
