@font-face {
    font-family: raleway;
    src: url(../fonts/raleway-regular.ttf);
    font-weight: 400;
    font-style: normal;
}



*,
::before,
::after,
:active{
    transition: 0.2s;
}

.container {
    width: 1600px;
    margin: 0 auto;
}

.header {
    background-image: url(../img/bg_359.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 8px 215px 142px 179px;
}

.header_top {
    display: flex;
    justify-content: center;  
}


.header_logo {
    width: 128px;
    margin: 0 239px 0 0;
}


.header-logo_img {
    fill: #fff;
}

.header-logo_img:hover {
    fill: #fbf7c0;
}

.header_menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}


.header-menu_list {
    font-family: gentiumbasic-bold;
    font-size: 21px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    margin: 0 40px 0 0;

}

.header-menu_list:last-child {
    margin: 0 20px 0 0;
}

.header-menu_list:hover {
    color: #fbf7c0;
}

.header-menu_list:active {
    color: #cc9900;
    opacity: 0.8;
}

.header_soc {
    display: flex;
    align-items: center;

}

.header-soc_link {

}

.header-soc_svg {
    fill: #dab33e;
    width: 30px;
    margin: 0 5px 0 0;
}

.header-soc_svg:last-child{
}

.header-soc_svg:hover {
    fill: #fff;
}

.header-soc_svg:active{
    fill: #cc9900;
}

.header_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.header_head {
    opacity: 0.92;
    font-family: yesevaone-regular;
    font-size: 90px;
    line-height: 1.2;
    font-weight: 400;
    text-shadow: 0px 1px 2px rgba(1,1,1,0.63);
    color: #ffffff;
    text-align: center;
    margin: 139px 0 34px 0;
    width: 950px;
}



/* .header_head::after {
    content: "";
    background-image: url('../img/decoration.png');
    background-repeat: no-repeat;
    display: block;
    width: 232px;
    height: 43px;
    position: relative;
    left: 500px;
    top: 32px;
} */

.header-content_button {
    margin: 35px 0 0 0;

}

.header-content_button::before {
    content: "";
    background-image: url('../img/decoration.png');
    background-repeat: no-repeat;
    display: block;
    width: 232px;
    height: 43px;
    left: 26%;
    top: -51px;
    position: relative;
}
 

.header_btn, .header_btn_1 {
    padding: 23px 52px 21px 52px;
    font-family: lato-regular;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    
}

.header_btn {
    margin: 0 30px 0 0;
    border: 1px solid #000000;
    background: rgb(0 0 0 / 58%);
}

.header_btn:hover{
    background: rgb(255 255 255 / 20%);
    border: solid 1px #ffffff;
}

.header_btn:active{
    border: 1px solid #000000;
    background: rgb(0 0 0 / 20%);
}

.header_btn_1 {
    background: rgb(255 255 255 / 20%);
    border: solid 1px #ffffff;
}

.header_btn_1:hover {
    border: 1px solid #000000;
    background: rgb(0 0 0 / 58%);
}

.header_btn_1:active {
    background: rgb(255 255 255 / 20%);
    border: solid 1px #ffffff;
}

.right_menu {
    padding: 55px 240px 30px 294px;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    background: rgb(255 255 255 / 99%) url(../img/bg-right_menu.png);
    background-blend-mode: soft-light;
}

.right-menu_desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 36px 0 0;
    align-self: center;

}

.right-menu_head {
    font-family: yesevaone-regular;
    font-size: 36px;
    line-height: 24px;
    font-weight: 400;
    color: #cc9900;
    margin: 0 0 15px 0;
}

.right-menu_txt {
    font-family: lato-regular;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #4c4c4c;
    text-align: center;
    margin: 32px 0 52px 0;
}

.right-menu_txt::before {
    content: "";
    background-image: url('../img/divider.png');
    background-repeat: no-repeat;
    display: block;
    width: 247px;
    height: 43px;
    left: 21%;
    top: -10px;
    position: relative;
}

.right-menu_img {
    margin: 0px 0 0 55px;

}

.right-menu_food {

}

.ingrid {
    background-image: url(../img/bg_ingrid.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 215px 101px 815px;
}

.ingrid-desc {
    padding: 83px 81px 78px 80px;
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    background-repeat: no-repeat;
    background: rgb(0 0 0 / 44%);
    justify-content: center;
}

.ihgrid-head {
    font-family: yesevaone-regular;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    margin: 0 0 50px 0;
}

.ihgrid-head::after {
    content: "";
    background-image: url('../img/divider_ingr.png');
    background-repeat: no-repeat;
    width: 247px;
    height: 24px;
    top: 21px;
    display: block;
    position: relative;
}


.ingrid_txt {
    font-family: lato-regular;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    margin: 0 0 71px 0;
    text-align: center;
}

.ingrid-img {
    margin: 0 30px 0 0;

}

.ingrid-img:last-child{
    margin: 0;
}


.menu {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 107px 274px 98px 283px;
    background: rgb(255 255 255 / 99%) url(../img/pattern_menu.png);
    background-blend-mode: soft-light;
}

.menu_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   

}

.menu_wrapper {

}

.menu_wrapper:nth-child(1) {
    margin: 0 168px 0 0;

}

.menu-apps {

}

.menu-apps:nth-child(2) {
    margin: 60px 0 0 0;
}

.menu-apps:nth-child(4) {
    margin: 0;
}

.menu-head {
    font-family: yesevaone-regular;
    font-size: 36px;
    line-height: 24px;
    font-weight: 400;
    color: #cc9900;
    margin: 0 0 30px 0;
}

.menu_table {
    border-collapse: collapse;

}

.menu_border {
    box-sizing: border-box;
    border-bottom: solid 0.1px #fbf7c0;
}

td {
    padding: 8px 0 10px 0;
}

.menu_name {
    font-family: yesevaone-regular;
    font-size: 21px;
    line-height: 24px;
    font-weight: 400;
    color: #c89f2d;
    padding: 20px 0 8px 0;
}

.reviews { 
    background-image: url(../img/bg_reviews.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 415px 100px 415px;
 }

.reviews_txt {
    padding: 82px 74px 103px 74px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-size: cover;
    background-repeat: no-repeat;
    background: rgb(0 0 0 / 60%);
}

.reviews_head {
    font-family: yesevaone-regular;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    margin: 0 0 70px 0;
    position: relative;
}

.reviews_head::after {
    content: "";
    background-image: url(../img/divider_ingr.png);
    background-repeat: no-repeat;
    width: 247px;
    height: 24px;
    top: 66px;
    display: block;
    position: absolute;
    left: -13px;
}

.reviews_text {
    font-size: 96px;
    line-height: 0.47;
    text-align: center;
    color: #f2f4f4;
    margin: 0;
    position: relative;
}


.reviews_text::before {
    content: "\201C";
    font-family: lato-regular;
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 96px;
    line-height: 45px;
    font-weight: 400;
    color: #f2f4f4;
    left: -40px;
    top: -1px;
}

.reviews_desc {
    font-family: gentiumbasic-bold;
    font-size: 25px;
    line-height: 45px;
    font-weight: 400;
    color: #dde0df;
    margin: 0 0 30px 0;
}

.reviews_author {
    font-family: lato-regular;
    font-size: 18px;
    color: #ffffff;
}

.right-food {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 107px 274px 98px 283px;
    background: rgb(255 255 255 / 99%) url(../img/pattern_menu.png);
    background-blend-mode: soft-light;
}


.right-food_wrapper {
    display: flex;
    justify-content: center;

}

.right-food_wrap {
    display: flex;
    margin: 0 70px 0 0;

}

.right-food_img {
    margin: 0 30px 0 0;
    width: 270px;
    height: 507px;

}

.right-food_desc {

}

.right-food_title {
    font-family: yesevaone-regular;
    font-size: 36px;
    line-height: 24px;
    font-weight: 400;
    color: #cc9900;
    margin: 0 0 70px 0;
    text-align: center;
    position: relative;
}

.right-food_title::before {
    content: "";
    background-image: url(../img/divider.png);
    background-repeat: no-repeat;
    display: block;
    width: 247px;
    height: 43px;
    left: 24%;
    top: 44px;
    position: absolute;
}

.right-food_txt {
    text-align: center;
    font-family: lato-regular;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #4c4c4c;
    margin: 0;
}


.right-food_txt:nth-child(3) {
}

input {
    outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input:focus {
  border: solid 1px #c89f2d;
}

form {
    margin: 36px 0 0 0;
}

fieldset {
    border: none;
    display: flex;
    padding: 0;
}

label {
    font-family: lato-regular;
    font-size: 14px;
    font-weight: bold;
    color: #c9a131;
}

label:nth-child(1) {
    margin: 0 36px 0 0;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="tel"] {
    border: solid 1px #c8c6c6;
    background-color: #fff;
    height: 36px;
    width: 200px;
    font-family: lato-regular;
    font-size: 16px;
    font-style: italic;
    color: #7c7c7c;
    padding: 0 0 0 14px;
    margin: 10px 0 0 0;
}

input[type="text"],
input[type="email"] {
    margin: 10px 0 29px 0;
}

input[type="submit"] {
    padding: 11px 60px 12px 63px;
    border: solid 1px #c89f2d;
    background-color: #c89f2d;
    font-family: OpenSans;
    font-size: 16px;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    margin: 33px auto 0 auto;
    display: block;
}

input[type="submit"]:hover {
    background-color: #000;
    cursor: pointer;
    border: 1px solid #c89f2d;
}

input[type="submit"]:active {
    background-color: #c89f2d;
    cursor: pointer;
    border: 1px solid #c89f2d;
}

.footer {
    padding: 61px 299px 21px 229px;
    background-color: #191919;
}

.about_wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.about {
    max-width: 343px;
}

.about_heading, .open_heading, .location_heading {
    font-family: yesevaone-regular;
    font-size: 21px;
    line-height: 1.14;
    text-align: center;
    color: #fefefe;
    margin: 0 0 63px 0;
    position: relative;
}

.about_heading::after {
    content: "";
    background-image: url(../img/divider_ingr.png);
    background-repeat: no-repeat;
    width: 247px;
    height: 24px;
    top: 40px;
    display: block;
    position: absolute;
    left: 48px;
}

.open_heading::after {
    content: "";
    background-image: url(../img/divider_ingr.png);
    background-repeat: no-repeat;
    width: 247px;
    height: 24px;
    top: 40px;
    display: block;
    position: absolute;
    left: -23px;
}

.location_heading::after {
    content: "";
    background-image: url(../img/divider_ingr.png);
    background-repeat: no-repeat;
    width: 247px;
    height: 24px;
    top: 40px;
    display: block;
    position: absolute;
    left: -37px;
}

.about_txt, .open_txt, .location_txt {
    font-family: yesevaone-regular;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    margin: 0;
}

.open {
    max-width: 195px;
    text-align: center;
}

.open_txt {
    margin: 0 0 53px 0;
}

.open_img {

}

.location {
    max-width: 200px;
    text-align: center;
}

.location_txt {
    margin: 0 0 52px 0;
}